/* 
# ============================================================
# Reset Styles
# ============================================================
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
# ============================================================
# Root Styles
# ============================================================
*/

:root {
  --font-display: 'Fraunces Variable', serif;
  --font-body: 'Fira Sans Variable', sans-serif;

  --clr-white-100: #f5f5f5;
  --clr-black-100: #212121;

  --font-size-logo: 24px;
  --font-size-menu: 15px;

  --ltr-spacing-menu: 0.02em;

  --font-lh-links: 1.2,;
}

body {
  background-color: var(--clr-white-100);
  color: var(--clr-black-100);
  font-family: var(--font-body);
}

/* 
# ============================================================
# App
# ============================================================
*/

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.main-wrapper {
  width: 100%;
  height: calc(100% - 80px);
  padding: 0px 30px 30px 30px;
}

.bg-wrapper {
  background-color: #211e1e;
  height: 100%;
  width: 100%;
}

/* 
# ============================================================
# Header
# ============================================================
*/

.nav {
  background-color: var(--clr-white-100);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 80px;
  padding: 10px 30px;
}

.nav-left {
  justify-self: start;
}

.nav-left a {
  font-size: var(--font-size-menu);
  font-weight: 500;
  letter-spacing: var(--ltr-spacing-menu);
  line-height: var(--font-lh-links);
  color: var(--clr-black-100);
}

.nav-center {
  justify-self: center;
}

.logo {
  font-family: var(--font-display);
  font-style: italic;
  font-size: var(--font-size-logo);
  font-weight: 400;
  line-height: 1.4;
}

.nav-right {
  justify-self: end;
}

.nav-github {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--clr-black-100);
  color: var(--clr-black-100);
}
